header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header a, footer a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    color: #b7c3d8;
}

.search-bar {
    display: flex;
}

.search-btn:hover {
    background-color: #f2f2f2;
}

input {
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 50px; 
}

.user-header h2 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-details {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-row {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.info-label {
    width: 150px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.info-input input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:disabled {
    background-color: #f0f0f0;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}