#hero {
    background-image: url('/img/carBackground.jpg');
    background-size: cover;
    background-position: top; /* Adjusts the image position to the top */
    color: white;
    text-align: center;
    padding: 200px 20px; /* You can adjust this padding as needed */

}

#hero button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF570C; /* Bright orange color */
    color: white;
    border: none;
    cursor: pointer;
}

#featured-vehicles, #promotions, #testimonials, #resources {
    padding: 20px;
    text-align: center;
}

.vehicle-card {
    display: inline-block;
    width: 300px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.vehicle-card img {
    width: 100%;
}

.promotion-banner {
    background-color: #FFD700; /* Gold color */
    padding: 15px;
    margin: 20px 0;
}
