html {
    background: url(../login/carimg/wallpaper.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

section {
    background-color: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
    height: 90vh;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 14px;
}

.btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.btn:hover {
    background: #45a049;
}

.Login-Box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255 ,255 ,255 , .5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 400px;
    margin: 50px auto;
}

.Login-Box h2 {
    margin-top: 0;
    color: #333;
}

.Login-Box a {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.Login-Box a:hover {
    background-color: #45a049;
}

#backimg {
    float: left;
}

#backimg:hover{
    cursor: pointer;
}